body {
	font-size: 25px;
}

.column {
	float: left;
	width: 35%;
	padding: 20px;
}

.hogwarts_image {
	height: 250px;
	width: 350px;
	border-radius: 5px;
}

.camp_hb_image {
	height: 350px;
	width: 250px;
	border-radius: 5px;
	
}
