<!DOCTYPE html>
<html>
<head>
    <title>Do not let them cross the page!</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<div class="fixed text-white text-sm ml-2 mt-1 select-none">
    <span>Score: </span><span id="scoreElement">0</span>
    <br/>
    <span>Left mouse click to shoot</span>
</div>

<div class="fixed inset-0 justify-center">
    <canvas id="gameCanvas"></canvas>

    <script src="./javascripts/gameScript.js" type="module"></script>
</div>
</body>
</html>