<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<h1>The server says:</h1>
<h2><%= title %></h2>
</body>
<footer></footer>
</html>