/* assignment C
1. Define font style and size for paragraphs and headers
2. Define style and color of table borders
3. Remove underlines from links
4. Change the style of markers for unordered lists */

h1 {
  font-style: italic;
  font-size: 30px;
}

p {
  font-style: normal;
  font-size: 20px;
}

em {
	font-size: 20px;
}

table {
  border: 2px solid blue;
}

td {
	border: 1px solid blue;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: circle;
}

body {
  background-color: orange;
}
