div {
	margin-top:10px;
	border: 2px solid #000000;
	background-color: #99000040;
	font-size:40;
}

body {
	color: white;
	background-image: url('https://nofilmschool.com/sites/default/files/styles/facebook/public/hogwarts-castle-harry-potter-166431.jpg?itok=6vZcKd9u');
	background-position: center;
}

.banner_image {
	background-image: url('https://vignette.wikia.nocookie.net/harrypotter/images/b/bd/Dhogwarts.jpg/revision/latest?cb=20120128145344');
	width: 50%;
	height: 50%;
	background-position: center;
	margin: auto;
}

.banner_text {
	font-size: 70px;
	text-align: center;
	color: orange;
}

.header {
  color: orange;
  font-style: italic;
	text-decoration: underline;
	margin-left: 30px;
	font-size: 35px;
}

p, li, ul {
	margin-left:10px;
	font-size:20px;
}

.link {
	color: orange;
}

.link:hover {
	color: yellow;
}

.link a {
	color: inherit;
}
